<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "stylesheets/login.css" type = text/css>
    
    <title>Login</title>
</head>
<body>
    <div id = logindiv>
        <h1>LOGIN</h1>
        <form  id = 'loginForm'>
            <div id=email class = 'formWrapper'>
                <label for='email' class='formElLabel'> Email</label><br>
                <input type='email' class='formEl' name=email required placeholder = "Email"><br>
                <p id = emailError class = error></p>
            </div>
            <div id=password class = 'formWrapper'>
                <label for='password' class='formElLabel'> Password</label><br>
                <input type='password' class='formEl' name=password required placeholder = "Password"><br>
                <p id = passwordError class = error></p>
            </div>
             <div id = remember>
            <label for = "rememberme" > Remember Me?</label>
            <input type = "checkbox" checked id = checkbox>
            </div>
            <input type = "submit" value = "Log In">
            <p>Dont have an account? <a href = /login/register>Register</a> </p>
        </form>
    </div>
    
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "/login.js"> </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
</html>