<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Tracker</title>
</head>
<body>

    <nav>
        <a href="/stats">Stats</a>
        <a href="/login">Login</a>
        <h1>QuizKettle</h1>
        <a href="/"> Info</a>
        <a href="/">Donate </a>
    </nav>

    <div class = sidenav>
        <button >Class</button>
        <button >Tracker</button>
        <button >Graphs</button>
        <button >Start Round</button>
    </div>

    <div id = 'Class'>

    </div>
    <div id = 'Tracker'>

    </div>
    <div id = 'Graphs'>

    </div>
    <div id = 'Round'>
        
    </div>





    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>4
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="scripts/tracker.js" ></script>
</html>